body {
  font-family: "Poppins", sans-serif;
  background-color: #152737;
  margin: 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

section {
  max-width: 100% !important;
  margin: 0 auto !important;
  padding: 60px;
}

section.secondary {
  background-color: #f8f8f8;
}

.instagram-embeds iframe {
  margin: 30px auto !important;
}

.text-center {
  text-align: center;
}

.grid {
  display: grid;
  column-gap: 20px;
}

.grid-2col {
  grid-template-columns: 1fr 1fr;
}

.grid-3col {
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}

.grid-3col-footer {
  grid-template-columns: 1fr 2fr 2fr;
}

.grid-card-img-map {
  grid-template-columns: 1fr 1fr;
  grid-gap: 0;
  height: 100%;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../media/travel-guam-sunset-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 160px 0;
  background-position: center;
}

header h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  letter-spacing: 9px;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 22px;
  line-height: 1;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: white;
  color: #202344;
  padding: 16px 32px;
  display: inline-block;
  margin-top: 32px;
}

main {
  background-color: white;
}

.main-img {
  width: 550px;
  max-width: 100%;
}

main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 4px;
  margin: 0;
  color: #202f44;
  opacity: 0.3;
  text-transform: uppercase;
}

main h3 {
  font-weight: 700;
  font-size: 38px;
  line-height: 1.5;
  color: #202f44;
  margin: 0;
}

main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  color: #202f44;
  margin: 0;
}

main h5 {
  font-weight: 700;
  font-size: 13px;
  line-height: 1.5;
  color: #202f44;
  margin: 0;
}

main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #202f44;
  opacity: 0.7;
}

.card {
  max-height: 100%;
  background-color: white;
  margin: 30px 0;
}

.card-img {
  width: 100%;
}

.card-map {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.card-body {
  padding: 26px;
}

.card .bttn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 16px;
  background-color: #152737;
}

.instagram-embeds {
  margin: 30px 0;
  display: block;
  margin: 0 auto;
}

footer {
  color: white;
  background-image: linear-gradient(rgba(1, 21, 44, 0.8), rgba(1, 21, 44, 0.9)),
    url(../media/guam-footer.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

footer h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
  line-height: 24px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 46px;
  }

  main h3 {
    font-size: 28;
  }

  header h2,
  main h2 {
    font-size: 20px;
  }

  header h3,
  main p {
    font-size: 14px;
  }

  header a {
    font-size: 12px;
    padding: 12px 24px;
    margin-top: 28px;
  }

  .grid-2col {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .grid-3col {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .grid-cards-3col {
    grid-template-columns: 1fr;
  }

  section {
    padding: 30px;
  }

  footer {
    padding: 0px 50px;
  }

  .main-img {
    display: block;
    margin: 0 auto;
  }

  footer h4 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  footer p,
  footer a {
    font-size: 12px;
    line-height: 20px;
  }
}

@media (max-width: 650px) {
  footer {
    padding: 0px 0px;
  }
}

@media (max-width: 500px) {
  header h1 {
    font-size: 40px;
  }

  main h3 {
    font-size: 28px;
  }

  main h2 {
    font-size: 18px;
  }

  main h4 {
    font-size: 18px;
  }

  main p {
    font-size: 14px;
  }
  .grid-3col-footer {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 340px) {
  main h3 {
    font-size: 24px;
  }

  main h2 {
    font-size: 16px;
  }

  main p {
    font-size: 12px;
  }
  .instagram-embeds iframe {
    min-width: 300px !important;
    width: calc(100% - 28px) !important;
  }

  .card-img {
    display: none;
  }

  .grid-card-img-map {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 310px) {
  main h3 {
    font-size: ;
  }

  .instagram-embeds iframe {
    min-width: 250px !important;
  }
}
